/* For Tablets */
@media all and (max-width: 1000px) {
    header {
        height: 80px;
    }

    .header-list {
      display: none;
    }

    .header-list li {
        font-size: 11px;
        padding-top: 20px;
        padding-right: 30px;
    }

    .menu-icon {
      display: block;
      cursor: pointer;
    }

    .menu-icon:hover .dropdown a {
      display: block;
    }

    .header-img {
        padding: 165px 0 75px 0;
      }
    
      .intro-wrapper {
        height: 150px;
        margin-top: 420px;
        padding: 0px;
      }
          
      .intro-heading {
        width: 50%;
        padding: 10px 10px 10px 10px;
      }
      
      .p1, .p2 {
          font-size: 14px;
      }
      .intro-heading h2 {
        font-weight: bold;
        padding: 0px 5px 5px 10px ;
        font-size: 16px;
        position: relative;
        margin-top: 20px;
      }  
      .p1 {
        margin-left: 80px;
      }

      .p2 {
        margin-right: 20px;
      }
      .glints-icon {
        padding: 10px 20px;
        display: inline;
      }
      .progate-icon {
        padding-top: 40px;
        padding-right: 30px;
      }
    
    .lesson-wrapper {
        padding-bottom: 50px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        line-height: 10px;
    }
    .heading {
      padding-left: 80px;
    }
    .lessons {
        width: 25%;
        height: 200px;
        margin: 10px;
    }
    .lesson-icon {
        padding-top: 30px;
        margin-bottom: 15px;
        width: 50px;
        height: auto;
      }
    .txt-contents {
        width: 80%;
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 12px;
        line-height: normal;
    }
    .section-title {
        font-size: 24px;
    }
    
    
    footer {
        height: 120px;
        padding-top: 0px;
        padding-bottom: 40px;
      }
      
      .footer-list {
        margin-right: 30px;
        font-size: 12px;
        padding: 0px;
      }
      
      .footer-list li {
        line-height: 30px;
        margin-top: 0px;
      }
      
      .footer-logo {
        float: left;
        padding-top: 40px;
      }
      
      .footer-logo img {
        width: 160px;
        padding-top: 0px;
      }
    
    }
    


/* For Smartphones */
@media all and (max-width: 670px) {
    header {
        height: 50px;
        border-bottom: 2px solid #4F7877;
      }
      
      .header-title {
        height: 60px;
      }
      .header-logo img {
        width: 140px;
        float: left;
        padding: 15px 10px;
      }

      .header-list {
        display: none;
      }

      .menu-icon {
        display: block;
        margin-top: 0px;
        width: 60px;
      }

      .menu-icon:hover {
        height: 60px;
      }
      
      .header-img {
        width: 100%;
        padding: 100px 0px;
      }
      
      .header-txt {
        padding: 30px;
      }
      
      .header-txt h1 {
        font-size: 40px;
        line-height: 10px;
      }

      .intro-wrapper {
        height: 125px;
        border-bottom: 2px solid #4F7877;
        padding: 3px;
      }
          
      .intro-heading {
        width: 50%;
        display: inline-block;
        padding: 10px 10px 10px 10px;
      }
      
      .intro-heading h2 {
        font-size: 12px;
        display: block;
        padding: 5px;
      } 
      
      .p1 {
        margin: 0px 30px 0px 100px;

      }

      .p2 {
        margin-left: 130px;

      }

      .glints-icon {
        width: 80px;
        padding: 10px 5px;
      }

      .progate-icon {
        width: 150px;
      padding: 30px 30px 20px 0px;
      }

      .progate {
          padding-top: 30px;
          margin-bottom: 50px;
      }
      .heading {
        padding-top: 30px;
        padding-bottom: 40px;
        padding-left: 30px;
      }
      .heading h2 {
        font-size: 25px;
        line-height: 15px;
        text-align: center;
      }
      .heading p {
        font-size: 12px;
        text-align: center;
      }

      .line-2 {
        margin-bottom: 30px;
      }
      .lessons {
        width: 80%;
      }

      .lesson-icon {
        width: 120px;
        padding-top: 20px;
        margin: 0px;
      }

      .txt-contents {
        width: 80%;
        font-size: 11px;
        margin-bottom: 20px;
        margin-top: 0px;
      }

      .contact-form {
        padding: 10px 10px 10px 30px;
      }
      .contact-form p {
          font-size: 11px;
      }
      
      .section-title {
        font-size: 20px;
      }
      input, textarea {
        width: 50%;
        margin-bottom: 5px;
        font-size: 11px;
      }
      
      textarea {
        padding: 25px 10px;
      }
      .contact-submit {
        width: 50%;
      }
      .submit {
        display: inline;
        background-color: #A9D6D5;
        color: white;
        width: 50%;
      }

footer {
    height: 60px;
    padding: 10px 0px 90px 0px;
  }
  
  .footer-list {
    margin-right: 15px;
    font-size: 11px;
  }
  
  .footer-list li {
    margin-top: 15px;
    padding: 0px;
    text-align: right;
  }
  
  .footer-logo {
    float: left;
    padding: 0px 0px 0px 15px;
  }
  
  .footer-logo img {
    width: 120px;
    display: inline;
    padding-top: 30px;
  }

}
